{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="col-10 col-md-6 col-lg-3 m-auto mt-5">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputMail" class="mb-2">Identifiant</label>
        <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control mb-3" autocomplete="username" required autofocus>
        <label for="inputPassword" class="mb-2">Mot de Passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <div class="row">
            <div class="checkbox mb-3 col-7">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>
            <button class="btn btn-lg btn-primary col-4" type="submit">
                Sign in
            </button>
        </div>
    </div>
</form>
{% endblock %}
