{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="card example-wrapper text-center bg-light">
    <div class="mb-3 fs-2 text-capitalize card-header">
        <h1>{{ user.pseudo }}</h1>
    </div>
    <div class="row g-0">
    {%if app.user.imageUtilisateur %}
        <div class="mb-3 col-md-4">
            <img src="{{ asset('images/profile/'~ user.imageUtilisateur) }}"
                 class="rounded-start mx-auto d-block img-fluid"
                 alt="Image de profil" width="180">
        </div>
    {% endif %}
        <div class="col-md-8">
            <div class="card-body">
    <div class="mb-3">
        <label class="form-label fw-bold">Prénom:</label>
        {{ user.prenom }}
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold">Nom:</label>
        {{ user.nom }}
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold">Téléphone:</label>
        {{ user.telephone }}
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold">Email:</label>
        {{ user.mail}}
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold">Campus:</label>
       {{ user.campus.nom}}
    </div>
            </div>
        </div>
    </div>
</div>

    <div class="text-center">
   <a href="{{ path('user_update', {id: user.id}) }}" class="text-decoration-none btn btn-dark">Retour</a>
    </div>



{% endblock %}
