{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="d-flex-inline bg-light p-4 text-center font-monospace rounded">Mon profil</h1>
    {{ form_start(userForm, {attr: {novalidate: 'novalidate'}}) }}
    <div class="container ms-5">
    <div class="row">
        <div class="col-6 mt-4">
            <div class="col-8">
                {{ form_row(userForm.pseudo) }}
            </div>
            <div class="col-8">
                {{ form_row(userForm.prenom) }}
            </div>
            <div class="col-8">
                {{ form_row(userForm.nom) }}
            </div>
            <div class="col-8">
                {{ form_row(userForm.telephone) }}
            </div>
            <div class="col-8">
                {{ form_row(userForm.mail) }}
            </div>
        </div>
        <div class="col-6 mt-4">
            <div class="col-8">
            {{ form_row(userForm.password) }}
            </div>
            <div class="col-8">
            {{ form_row(userForm.confirmation) }}
            </div>
            <div class="col-8">
            {{ form_row(userForm.campus) }}
            </div>
            <div class="col-8">
            {{ form_row(userForm.imageFile) }}
            </div>
            <div class="col-8 my-5">
                <div class="d-flex justify-content-end align-items-end">
                    <button class="mx-4 btn btn-outline-primary" type="submit">Enregistrer</button>
                    <button type="reset" class="btn btn-outline-secondary">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    </div>


    {{ form_end(userForm) }}

    <div class="mt-3 text-center">
        <a class="btn btn-dark" href="{{ path('app_user', {id: app.user.id}) }}">Voir mon profil</a>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

