{% extends 'base.html.twig' %}

{% block title %}out{% endblock %}

{% block body %}

    <div class="out-container">

        <div class="out-ln1">
            <div class="out-ln1-bl1">
                <div>Date du jour : {{ "now" | date("d/m/Y") }}</div>
                <div>Participant : {{ app.user.userIdentifier }} </div>
            </div>
        </div>

        <div class="out-ln2">

            <h5>Filtrer les sorties</h5>

            {{ form_start(filterForm) }}

            <div class="out_ln2">
                <div class="out_ln2-bl1">
                    {{ form_row(filterForm.outFilterCampus) }}
                    {{ form_row(filterForm.outFilterSearch) }}
                    {{ form_row(filterForm.outFilterStartDate) }}
                    {{ form_row(filterForm.outFilterEndDate) }}
                </div>
                <div class="out_ln2-bl2">
                    {{ form_row(filterForm.outFilterChk) }}
                </div>
                <div class="out_ln2-bl3">
                    <button> Rechercher</button>
                </div>
            </div>

            {{ form_end(filterForm) }}

        </div>

        </div>

        <div class="out-ln3">
            <table>
                <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/Places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for eachOut in filteredOuts %}
                        <tr>
                            <td>{{ eachOut.nom }}</td>
                            <td>{{ eachOut.dateHeureDebut | date("d/m/Y à H:i") }}</td>
                            <td>{{ eachOut.dateLimiteInscription | date("d/m/Y") }}</td>
                            <td>TODO / {{ eachOut.nbInscriptionsMax }}</td>
                            <td>{{ eachOut.etat.libelle }}</td>
                            <td>TODO</td>
                            <td>{{ eachOut.organisateur.nom }} {{ eachOut.organisateur.prenom}}</td>
                            <td>TODO</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="out-ln4">
            <div class="out-ln4-bl1">
                <button onclick="window.location.href = '{{ path('out_create') }}';">Créer une sortie</button>
            </div>
        </div>

    </div>

{% endblock %}
