{% extends 'base.html.twig' %}

{% block title %}out{% endblock %}

{% block body %}

    <div class="out-container">

        <div class="out-ln1">
            <div class="out-ln1-bl1">
                <div>Date du jour : {{ "now" | date("d/m/Y") }}</div>
                <div>Participant : {{ app.user.nom }} {{ app.user.prenom }} </div>
            </div>
        </div>

        <div class="out-ln2">

            <h5>Filtrer les sorties</h5>

            {{ form_start(filterForm) }}

            <div class="out_ln2">
                <div class="out_ln2-bl1">
                    {{ form_row(filterForm.outFilterCampus) }}
                    {{ form_row(filterForm.outFilterSearch) }}
                    {{ form_row(filterForm.outFilterStartDate) }}
                    {{ form_row(filterForm.outFilterEndDate) }}
                </div>
                <div class="out_ln2-bl2">
                    {{ form_row(filterForm.outFilterChk) }}
                </div>
                <div class="out_ln2-bl3">
                    <button> Rechercher</button>
                </div>
            </div>

            {{ form_end(filterForm) }}

        </div>

        </div>

        <div class="out-ln3">
            <table>
                <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/Places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for eachFilteredOut in filteredOuts %}
                        <tr>

                            <td>{{ eachFilteredOut.nom }}</td>

                            <td>{{ eachFilteredOut.dateHeureDebut | date("d/m/Y | H:i") }}</td>

                            <td>{{ eachFilteredOut.dateLimiteInscription | date("d/m/Y | H:i") }}</td>

                            <td>{{ eachFilteredOut.nbParticipants }} / {{ eachFilteredOut.nbInscriptionsMax }}</td>

                            <td>{{ eachFilteredOut.etat.libelle }}</td>

                            {% if app.user in eachFilteredOut.participants %}
                                <td> X </td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            <td>
                                <a href="{{ path('app_user', {id: eachFilteredOut.organisateur.id}) }}">{{ eachFilteredOut.organisateur.nom }} {{ eachFilteredOut.organisateur.prenom}}</a>
                            </td>

                            <td>
                            {% for eachAction in eachFilteredOut.actions %}

                                {% if eachAction == 'Afficher' %}
                                    <a href="{{ path('out_detail', {id: eachFilteredOut.id}) }}">{{ eachAction }}&nbsp;</a>

                                {% elseif eachAction == 'Modifier' %}
                                    <a href="{{ path('out_edit', {id: eachFilteredOut.id}) }}">{{ eachAction }}&nbsp;</a>

                                {% elseif eachAction == 'Publier' %}
                                    <a href="{{ path('out_edit', {id: eachFilteredOut.id}) }}">{{ eachAction }}&nbsp;</a>

                                {% elseif eachAction == 'Se désister' %}
                                    <a href="{{ path('out_unsubscribe', {id: eachFilteredOut.id}) }}">{{ eachAction }}&nbsp;</a>

                                {% elseif eachAction == 'Annuler' %}
                                    <a href="{{ path('out_cancel', {id: eachFilteredOut.id}) }}">{{ eachAction }}&nbsp;</a>

                                {% elseif eachAction == 'S\'inscrire' %}
                                    <a href="{{ path('out_subscribe', {id: eachFilteredOut.id}) }}">{{ eachAction }}&nbsp;</a>

                                {% endif %}

                            {% endfor %}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="out-ln4">
            <div class="out-ln4-bl1">
                <button onclick="window.location.href = '{{ path('out_create') }}';">Créer une sortie</button>
            </div>
        </div>

    </div>

{% endblock %}
